$red: #E01F3D;

.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 18px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  display: inline-block;
  border: none;

  &--theme--red {
    background: $red;
    color: #fff;

    &:hover {
      background: #CA1B36;
      color: #fff;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #fff;
    text-transform: initial;
    font-weight: 400;

    &:hover {
      background: transparent;
      color: #E01F3D;
    }
  }
}