.feature {
  display: flex;
  min-width: 200px;
}

.feature__icon {
  width: 45px;
  margin-right: 7px;
}

.feature__img {
  max-width: 107%;
  max-height: 88%;
}

.feature__text {
  font-size: 16px;
  width: 50%;
}